/public/hot
/public/storage
/storage/*.key
/.idea
/.vscode
/.vagrant
/node_modules/.cache
Homestead.json
Homestead.yaml
npm-debug.log
/node_modules/.cache
yarn-error.log
/public/logos
/public/Empresas
/node_modules/.cache
/public/plantilla
public/plantilla/CoolAdmin
